Text Cleaning on News (Article Text and Headline)

In [1]:
import pandas as pd
import re
import contractions
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ChokJoe\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ChokJoe\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
import pandas as pd

# load the dataset
df = pd.read_csv('Cleaned_News_Articles_Final.csv')

In [3]:
# lowercase text 
def lowercase_text(text):
    return text.lower()

# change apostrophe 
def replace_apostrophe(text):
    return text.replace("â€™", "'")

df[['text', 'headline']] = df[['text', 'headline']].applymap(lowercase_text)
df[['text', 'headline']] = df[['text', 'headline']].applymap(replace_apostrophe)
df.head(10)

C:\Users\ChokJoe\AppData\Local\Temp\ipykernel_4848\2321103012.py:9: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[['text', 'headline']] = df[['text', 'headline']].applymap(lowercase_text)
C:\Users\ChokJoe\AppData\Local\Temp\ipykernel_4848\2321103012.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[['text', 'headline']] = df[['text', 'headline']].applymap(replace_apostrophe)

,date published,category,headline,text
0,2021-07-15 02:46:59,news,"there's a shortage of truckers, but tusimple t...","(cnn)right now, there's a shortage of truck d..."
1,2021-05-12 07:52:09,news,bioservo's robotic 'ironhand' could protect fa...,(cnn)working in a factory or warehouse can me...
2,2021-06-16 02:51:30,news,this swarm of robots gets smarter the more it ...,"(cnn)in a hong kong warehouse, a swarm of aut..."
3,2022-03-15 09:57:36,business,russia is no longer an option for investors. t...,"new york (cnn business)for many years, the wor..."
4,2022-03-15 11:27:02,business,russian energy investment ban part of new eu s...,the european union formally approved on tuesda...
5,2022-03-15 05:57:31,business,anti-war protester interrupts live russian sta...,(cnn business)a woman holding a sign reading ...
6,2022-03-14 19:12:28,business,benjamin hall: fox news correspondent hospital...,new york (cnn business)fox news correspondent ...
7,2022-03-14 16:01:30,business,russia could default on its debt within days -...,london (cnn business)russia has sent the clear...
8,2022-03-14 15:20:43,business,oil briefly tumbles below $100 a barrel. that'...,new york (cnn business)us oil prices briefly t...
9,2022-03-14 18:16:00,business,russia may have found a buyer for its cheap oi...,new delhiindia may take up a russian offer to ...

In [4]:
import wordninja

# Word Segmentation on text column
df['headline'] = df['headline'].apply(lambda x: ' '.join(wordninja.split(x)))
df['text'] = df['text'].apply(lambda x: ' '.join(wordninja.split(x)))
df.head(10)

,date published,category,headline,text
0,2021-07-15 02:46:59,news,there's a shortage of truckers but tu simple t...,cnn right now there's a shortage of truck driv...
1,2021-05-12 07:52:09,news,bio servo's robotic ' iron hand ' could protec...,cnn working in a factory or warehouse can mean...
2,2021-06-16 02:51:30,news,this swarm of robots gets smarter the more it ...,cnn in a hong kong warehouse a swarm of autono...
3,2022-03-15 09:57:36,business,russia is no longer an option for investors th...,new york cnn business for many years the world...
4,2022-03-15 11:27:02,business,russian energy investment ban part of new eu s...,the european union formally approved on tuesda...
5,2022-03-15 05:57:31,business,anti war protester interrupts live russian sta...,cnn business a woman holding a sign reading no...
6,2022-03-14 19:12:28,business,benjamin hall fox news correspondent hospitali...,new york cnn business fox news correspondent b...
7,2022-03-14 16:01:30,business,russia could default on its debt within days cnn,london cnn business russia has sent the cleare...
8,2022-03-14 15:20:43,business,oil briefly tumbles below 100 a barrel that's ...,new york cnn business us oil prices briefly tu...
9,2022-03-14 18:16:00,business,russia may have found a buyer for its cheap oi...,new delhi india may take up a russian offer to...

In [5]:
# expand the words like cnnt to cannot / ve to have and so on
def expand_contractions(text):

    expanded_text = contractions.fix(text)
    return expanded_text

df['headline'] = df['headline'].apply(expand_contractions)
df['text'] = df['text'].apply(expand_contractions)
df.head(10)

,date published,category,headline,text
0,2021-07-15 02:46:59,news,there is a shortage of truckers but tu simple ...,cnn right now there is a shortage of truck dri...
1,2021-05-12 07:52:09,news,bio servo's robotic ' iron hand ' could protec...,cnn working in a factory or warehouse can mean...
2,2021-06-16 02:51:30,news,this swarm of robots gets smarter the more it ...,cnn in a hong kong warehouse a swarm of autono...
3,2022-03-15 09:57:36,business,russia is no longer an option for investors th...,new york cnn business for many years the world...
4,2022-03-15 11:27:02,business,russian energy investment ban part of new eu s...,the european union formally approved on tuesda...
5,2022-03-15 05:57:31,business,anti war protester interrupts live russian sta...,cnn business a woman holding a sign reading no...
6,2022-03-14 19:12:28,business,benjamin hall fox news correspondent hospitali...,new york cnn business fox news correspondent b...
7,2022-03-14 16:01:30,business,russia could default on its debt within days cnn,london cnn business russia has sent the cleare...
8,2022-03-14 15:20:43,business,oil briefly tumbles below 100 a barrel that is...,new york cnn business us oil prices briefly tu...
9,2022-03-14 18:16:00,business,russia may have found a buyer for its cheap oi...,new delhi india may take up a russian offer to...

In [7]:
import emoji
import re
from emoticons_lib import emoticons_lib

# convert emoticon with text   { :), :( }
def convert_emojis_with_text(text):
    emoticon_pattern = re.compile('|'.join(re.escape(emoticon) for emoticon in emoticons_lib.keys()))
    return emoticon_pattern.sub(lambda match: emoticons_lib[match.group(0)], text)

# list of columns to apply the functions
columns_to_transform = ['text', 'headline']

# apply the functions to both columns
for column in columns_to_transform:
    df[column] = df[column].apply(lambda e: convert_emojis_with_text(e))

    # convert emojis to text
    df[column] = df[column].apply(lambda e: emoji.demojize(e, language="en"))

    # replace underscore with whitespace (caused by emojis text like ðŸ˜Š convert to :smiling_smiling_face ï¼‰
    df[column] = df[column].apply(lambda e: e.replace('_', ' '))

    # remove semicolon with whitespace (caused by emojis text)
    df[column] = df[column].apply(lambda e: e.replace(':', ' '))

In [8]:
# remove 'cnn' word in text column
def remove_cnn(text):
    return text.replace('cnn', '')

df['headline'] = df['headline'].apply(remove_cnn)
df['text'] = df['text'].apply(remove_cnn)
df.head(10)

,date published,category,headline,text
0,2021-07-15 02:46:59,news,there is a shortage of truckers but tu simple ...,right now there is a shortage of truck driver...
1,2021-05-12 07:52:09,news,bio servo's robotic ' iron hand ' could protec...,working in a factory or warehouse can mean do...
2,2021-06-16 02:51:30,news,this swarm of robots gets smarter the more it ...,in a hong kong warehouse a swarm of autonomou...
3,2022-03-15 09:57:36,business,russia is no longer an option for investors th...,new york business for many years the world's ...
4,2022-03-15 11:27:02,business,russian energy investment ban part of new eu s...,the european union formally approved on tuesda...
5,2022-03-15 05:57:31,business,anti war protester interrupts live russian sta...,business a woman holding a sign reading no wa...
6,2022-03-14 19:12:28,business,benjamin hall fox news correspondent hospitali...,new york business fox news correspondent benj...
7,2022-03-14 16:01:30,business,russia could default on its debt within days,london business russia has sent the clearest ...
8,2022-03-14 15:20:43,business,oil briefly tumbles below 100 a barrel that is...,new york business us oil prices briefly tumbl...
9,2022-03-14 18:16:00,business,russia may have found a buyer for its cheap oi...,new delhi india may take up a russian offer to...

In [9]:
# remove words =  or > 2 characters
def remove_short_words(text):
    return ' '.join([word for word in text.split() if len(word) > 2])

# remove symbols
def remove_symbols(text):
    symbol_pattern = re.compile(r'[\(\)\[\]:]')
    return symbol_pattern.sub('', text)

# remove symbols and digits
def remove_symbols_digits(text):
    return re.sub('[^a-zA-Z\s]', ' ', text)

# remove URLs
def remove_urls(text):
    return re.sub(r'http\S+', '', text)

# remove HTML tags
def remove_html_tags(text):
    return re.sub(r'<[^>]+>', '', text)

# remove extra whitespace
def remove_whitespace(text):
    return ' '.join(text.split())

# remove punctuation
def remove_punctuation(text):
    return re.sub(r'[^\w\s]', '', text)

# remove stopwords
def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    return ' '.join([token for token in text.split() if token.lower() not in stop_words])

# lemmatizing text
def lemmatize_text(text):
    lemmatizer = WordNetLemmatizer()
    return ' '.join([lemmatizer.lemmatize(token) for token in text.split()])

# list of columns to apply the functions
columns_to_transform = ['text', 'headline']

# apply the functions to both columns
for column in columns_to_transform:
    df[column] = df[column].apply(remove_short_words)
    df[column] = df[column].apply(remove_symbols)
    df[column] = df[column].apply(remove_symbols_digits)
    df[column] = df[column].apply(remove_urls)
    df[column] = df[column].apply(remove_html_tags)
    df[column] = df[column].apply(remove_whitespace)
    df[column] = df[column].apply(remove_punctuation)
    df[column] = df[column].apply(remove_stopwords)
    df[column] = df[column].apply(lemmatize_text)

df.head(10)

,date published,category,headline,text
0,2021-07-15 02:46:59,news,shortage trucker simple think solution driver ...,right shortage truck driver worldwide exacerba...
1,2021-05-12 07:52:09,news,bio servo robotic iron hand could protect fact...,working factory warehouse mean task repetition...
2,2021-06-16 02:51:30,news,swarm robot get smarter work,hong kong warehouse swarm autonomous robot wor...
3,2022-03-15 09:57:36,business,russia longer option investor emerging market,new york business many year world popular emer...
4,2022-03-15 11:27:02,business,russian energy investment ban part new sanctio...,european union formally approved tuesday new b...
5,2022-03-15 05:57:31,business,anti war protester interrupt live russian stat...,business woman holding sign reading war interr...
6,2022-03-14 19:12:28,business,benjamin hall fox news correspondent hospitali...,new york business fox news correspondent benja...
7,2022-03-14 16:01:30,business,russia could default debt within day,london business russia sent clearest signal ye...
8,2022-03-14 15:20:43,business,oil briefly tumble barrel good news gas price,new york business oil price briefly tumbled ba...
9,2022-03-14 18:16:00,business,russia may found buyer cheap oil india,new delhi india may take russian offer buy cru...

In [10]:
import nltk
from nltk.corpus import words
from nltk.tokenize import word_tokenize
nltk.download('words')
nltk.download('punkt')

# tokenize text
def tokenize_text(text):
    tokens = word_tokenize(text)
    return tokens

# remove any non-English words (note that this function needed to tokenize first)
english_words = set(words.words()) 
def remove_non_english(tokens):
    english_tokens = []
    for word in tokens:
        if word in english_words:
            english_tokens.append(word)
        else:
            english_tokens.append('')
    return [token for token in english_tokens if token != '']

# apply the functions to text column only ï¼ˆpurpose for topic modelling)
df['text'] = df['text'].apply(tokenize_text)
df['text'] = df['text'].apply(remove_non_english)
df['text'] = df['text'].apply(lambda tokens: ' '.join(tokens))

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\ChokJoe\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ChokJoe\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [11]:
# check missing values 
print(df.isnull().sum())

date published    0
category          0
headline          0
text              0
dtype: int64

In [12]:
# check duplicated
print(df.duplicated().sum())
df[df.duplicated()]
df[df['headline'] == "provide aid ukraine"]

4

,date published,category,headline,text
460,2022-02-24 17:16:48,news,provide aid ukraine,amid harrowing account tragedy audience millio...
4179,2022-02-24 17:16:48,news,provide aid ukraine,amid harrowing account tragedy audience millio...

In [13]:
# check empty string in text column
df[df['text'] == '']

,date published,category,headline,text
7750,2017-07-05 17:32:27,news,quiz clueless legit quit,
22254,2015-06-06 17:29:10,sport,champion league live juventus barcelona,
23045,2015-11-20 17:10:22,sport,real madrid barcelona clasico live,
23147,2015-11-06 17:06:21,sport,live premier league football,
24104,2016-05-28 15:58:43,sport,champion league final live,
24178,2016-05-18 10:22:35,news,referendum happens next,
28384,2018-02-25 00:07:08,sport,winter olympics day result live update,
28392,2018-02-23 00:00:16,sport,olympics day result live update,
28393,2018-02-23 23:59:15,sport,winter olympics day result live update,
28406,2018-02-21 23:59:26,sport,olympics day result live update,
28420,2018-02-20 23:59:58,sport,winter olympics day result live update,
28429,2018-02-19 23:59:27,sport,winter olympics day result live update,
28430,2018-02-19 00:21:03,sport,winter olympics day result live update,
28434,2018-02-18 00:10:05,sport,winter olympics day result live update,
28442,2018-02-16 23:59:44,sport,winter olympics day result live update,
28447,2018-02-16 00:00:15,sport,winter olympics day result live update,
28459,2018-02-14 23:58:16,sport,olympics day result live update,
28468,2018-02-13 00:01:36,sport,olympics day live update,
28475,2018-02-13 23:59:21,sport,olympics day live update,
28478,2018-02-12 00:55:42,sport,winter olympics day live update,
28497,2018-02-11 01:04:50,sport,winter olympics day live update,
28500,2018-02-10 00:00:42,sport,olympics day result live update,
28688,2018-03-16 10:54:47,sport,champion league draw live quarterfinal tie dec...,
29375,2018-06-14 13:30:08,sport,live world cup day opening ceremony russia sau...,

In [14]:
# check empty string in headline column
df[df['headline'] == '']

,date published,category,headline,text
5751,2021-01-22 11:25:25,news,,series essay distance lake telling story pande...
13152,2019-02-14 20:12:48,news,,weather phenomenon largely part public vernacu...
22035,2015-05-10 14:17:18,sport,,foothold formula one title race first victory ...
33343,2019-08-04 08:11:17,sport,,woman soccer team still world champion advocat...
38862,2023-03-07 00:00:00,weather,,climate pattern pacific ocean along equator im...

In [15]:
# drop duplicated and filter out empty string for both columns
df = df.drop_duplicates()
df = df[df['text'] != '']
df = df[df['headline'] != '']

In [16]:
print(df.isnull().sum())

date published    0
category          0
headline          0
text              0
dtype: int64

In [17]:
print(df.duplicated().sum())

0

In [18]:
df[df['text'] == '']

Empty DataFrame
Columns: [date published, category, headline, text]
Index: []

In [19]:
df[df['headline'] == '']

Empty DataFrame
Columns: [date published, category, headline, text]
Index: []

In [20]:
df.shape

(41795, 4)

In [21]:
df.to_csv("Cleaned_News_Articles_Final.csv", index=False)